
<div class="span3">
    <div class="well">
       <ul class="nav nav-list">
           <li>
               <a href="{{ path('annonces_lister')}}">Liste des annonces</a>
           </li>
           <li>
               <a href="{{ path('categorie_lister')}}">Liste de categories</a>
           </li></ul></div>
     
    <div class="well">
       <ul class="nav nav-list">
           <li>
               <a href="{{ path('annonces_ajouter')}}">ajouter une annonce</a>
           </li>
           <li>
               <a href="{{ path('categorie_ajouter')}}">ajouterune categorie</a>
           </li></ul></div>
           
     <div class="well">
       <ul class="nav nav-list">
           <li>
               <a href="#">Help</a>
           </li>
           <li>
               <a href="#">A propos</a>
           </li></ul></div>
</div>