{% extends "::base.html.twig" %}
{% block content %}

<div class="container">
    <div class="row">
    <div class="col-md-6">
{%for key,c in categories %}
<h4> La categorie numero: {{key}}</h4>
  <b>Nom:</b> {{c.nom}}</br>
   {% endfor %}
</div>
<div class="col-md-6">
             {% include 'annonceBundle::navigation.html.twig' %}
         </div>
</div></div>
  
   {% endblock %}